.table {
  width: 600px;
  background: #d3d3d3;
  color: #333;
  font-weight: 500;
  font-size: 1.2rem;
}

.table td {
  padding: 25px;
}

.table .output {
  background: #6d6a75;
  color: #fff;
  text-align: right;
  font-size: 30px;
}

.table .orange-colour {
  background: #f28f3b;
}
