@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0 60px;
  background: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}